*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.fa{
 position:relative;
}

nav {
    background: royalblue;
    height:50px;
    width: 100%;
}
nav ul {
    float: right;
    margin-right:40px;
}
nav li{
     display: inline-block;
     padding: 0 10px;
     line-height: 50px;
}
nav a {
    color: white;
    display: block;
    transition: 0.2s;
    padding:0 5px;
    font-weight: bold;
    border-left:  2px solid rgb(36, 109, 192);
    text-shadow: 1px 2px 2px  rgba(0, 0, 0, 0.336);
}
a:hover{
    color:rgb(176, 176, 226);
 }
label.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 50px;
    color: white;
    line-height: 50px;
    font-family:   'Quicksand', sans-serif;
}

nav #barras{
    float: right;
    font-size: 40px;
    color: white;
    cursor:pointer;
    display:none;
    margin-right : 40px;
}

@keyframes msg {
    10% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
 }
@media (max-width:900px){

         .d1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;  
                     
     }

     .links, .textoin  {
        text-align: center;  
        font-size:12px;
        
    }     

     .perfil{
     width: 70%;
     border-left: 2px solid royalblue;
     border-right: 2px solid royalblue;
     }

    .list-sobre{
        padding-left:20px;
        margin-left: 20px;
   
    }

    nav {
      position: fixed;
    }
    nav #barras{
   display: block;
   line-height: 50px;
    }
    label#barras:hover{
        color: rgb(202, 200, 200);

    }

    nav a{
        border:none;
    }
    nav ul{
         position: fixed;
         width: 90%;
         height:100%;
         background:rgba(0, 0, 0, 0.651);
         top:50px;
         text-align: center;
         left:-100%;
         transition: all 0.5s;
              
    }
    nav li {
        margin:50px 0;
        display: block;
    }
    
    nav ul.show{
        left:0;
    }

    label.logo{
        border-right:2px solid;
        font-size: 20px;
        font-weight: none;
        font-family:   'Quicksand', sans-serif;
    }

}
body{
     
     background:rgb(36, 35, 35);
     color:white;
     font-family:Arial, Helvetica, sans-serif
}


 .perfil{
   width: 80%;
  height:auto;
   margin:10px;
   background:linear-gradient(rgba(73, 73, 73, 0.404), rgba(0, 0, 0, 0.445));
   border-right: 2px solid royalblue;
   color: white;
   display:flex;
   box-shadow: 1px 6px 10px 3px rgba(0, 0, 0, 0.171);
  }

  .perfil-item{
      display: flex;
      flex:1;
      flex-direction: column;
      text-align: center;
      font-size: 30px;
      margin: 10px;
      font-family: 'Bebas Neue', cursive;
      text-shadow: -2px -2px 4px rgb(0, 0, 0);
    
  }

  .links {
   text-align: center;  
   line-height: 40px;
   
   
  }
.links ul li {
    padding-bottom:7%
}

  .ulLinks a {
   text-decoration: none;
   color:whitesmoke;
   
  }

  .imagem img {
     
    transition-duration: 0.5s;
    width: 80%;
    border-radius: 50%;
    padding: 10px;
    margin-left:43px;
    
}

.list-sobre{
    background:rgba(0, 0, 0, 0.445);
    box-shadow: 5px 2px 10px black;
    width: 80%;
    height:auto;
    padding:25px;
    border-right: 2px solid royalblue ;
    border-bottom: 3px solid royalblue;
    border-radius: 10px;
    margin:10px;
 }

  .list-sobre .textoin {
    font-family:  'Tajawal', sans-serif;
    font-size: auto;
    
    color:white;
    font-weight: 700;
    text-align: justify;
    
    
   }
   .textoin ul{
       margin-bottom: 10px;
       padding-bottom: 15px;
       border-left:2px solid white;
       padding-left:5px;
       border-radius: 5px;
       background:linear-gradient(to right,rgba(65, 105, 225, 0),rgba(65, 105, 225, 0.514));
   }
   .textoin  li{
       padding-left:5px;
       padding-right:10px;
       
   }
 

  .imagem img:hover  {
    border-radius: 0;
    }

.d1{ 
    
display:inline-flex;
justify-content: center;
align-items: center;
 }

    
.icon{
    
    background-repeat: no-repeat;
    background-size: 10%;

}

.icon:hover{
   border-right: 4px solid white;
   
}
 
.icon.gitBtn {
    background-image:url(img/GitHub-Mark-32px.png);

}

.icon.linkBtn {
    background-image:url(img/linkedin.png);

}
.icon.emailBtn {
    background-image:url(img/email.png);
}

.menu {
    display: block;
    background-color: slateblue;
    width: 100%;
    height: 30px;
    position: fixed;
    line-height: 30px;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-size:25px;
    font-weight: bolder;
    cursor:pointer;
       
}
.menu .msg{
    animation: msg 1.5s linear infinite;
    
}
